* {
    z-index: 1;
}

.typing-field {
    position: relative;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 0px;
    width: 1000px;
    line-height: 1.5em;
    max-height: calc(1.5em * 5.5);
    /* overflow: hidden; */
    text-align: left;
}

.typing-field>#caret {
    position: relative;
    height: 2em;
    width: 2.5px;
    background: #e2b714;
    animation: caretFlashSmooth 1s infinite;
    position: absolute;
    border-radius: var(--roundness);
    transform-origin: top left;
    border-radius: 3px;
}

/* This ruleset is for displaying the text the user typed
   For debugging purposes only

.typing-field > div {
    display: inline;
    font-size: 2rem;
    color: gray;
    font-family: "Roboto Mono";
    outline: 0;
}*/

.typing-field>input {
    position: absolute;
    /* margin-top: 200px;  */
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 100;
}

.line {
    display: flex;
    flex-direction: row;
}

.line>span {
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
    pointer-events: none;
}

.line>span>p {
    font-size: 2rem;
    font-family: "Roboto Mono";
    outline: 0;
    pointer-events: none;
}


.stats-field {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    text-align: center;
}

.stats-field>p {
    font-family: "Roboto Mono";
    font-size: 1.5rem;
    color: gray;
}

@keyframes caretFlashSmooth {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}